<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>PTI</title>
	<!-- Bootstrap core CSS -->
	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom fonts for this template -->
	<link href="/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
	<link href="/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" >
	<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Lato&family=Mulish&display=swap" rel="stylesheet">
	<!-- Mockup Device Plugin CSS -->
	<link href="/device-mockups/device-mockups.css" rel="stylesheet" >
	<!-- Custom styles for this template -->
	<link href="/css/main.css" rel="stylesheet">
</head>
<body id="page-top">
	<!-- Navigation Bar -->
	<nav id="mainNav" class="navbar navbar-expand-lg navbar-light fixed-top">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="/"><i class="fas fa-globe-europe" style="margin-right: 5px"></i>PTI Pro_5</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#download">Download</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#features">Features</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<header class="masthead">
		<div class="container h-100">
			<div class="row h-100">
				<div class="col-lg-7 my-auto">
					<div class="header-content mx-auto">
						<h1 class="mb-5">New Age is an app landing page that will help you beautifully showcase your new mobile app, or anything else!</h1>
						<a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Start Now for Free!</a>
					</div>
				</div>
				<div class="col-lg-5 my-auto">
					<div class="device-container">
						<div class="device-mockup iphone6_plus portrait black">
							<div class="device">
								<div class="screen"><img src="/img/crypto_currencies.png" class="img-fluid" alt=""></div>
								<div class="button">
									<!-- You can hook the "home button" to some JavaScript events or just remove it -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="download bg-primary text-center" id="download">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<h2 class="section-heading">Discover what all the buzz is about!</h2>
					<p>Our app is available on any mobile device! Download now to get started!</p>
					<div class="badges">
						<a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
						<a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<p>&copy; Your Website 2020. All Rights Reserved.</p>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="#">Privacy</a></li>
				<li class="list-inline-item"><a href="#">Terms</a></li>
				<li class="list-inline-item"><a href="#">FAQ</a></li>
			</ul>
		</div>
	</footer>
	<!-- Bootstrap core JavaScript -->
	<script src="/lib/jquery/jquery.min.js"></script>
	<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="/lib/jquery-easing/jquery.easing.min.js"></script>
	<!-- Custom scripts for this template -->
	<script src="/js/main.js"></script>
</body>
</html>